.title {
  font-family: "Bree Serif", serif;
  font-size: 3rem;
  margin: 2rem;
  border-bottom: 2px solid rgba(112, 112, 112, 0.3);
}

.fruitsBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fruitsBox ul {
  width: 60%;
}

.fruitsBox li {
  list-style: none;
  padding: 5px;
  border: 2px solid rgba(112, 112, 112, 0.3);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.fruitsBox li:hover {
  background-color: rgb(221, 255, 208);
}

.fruitsBox ul a {
  text-decoration: none;
  color: #000;
}

.fruitButtons {
  margin-top: 2rem;
  background-color: transparent;
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border: 1px solid #000;
  transition: ease-in 0.2s;
  margin: 0 10px;
}

.fruitButtons:hover {
  background-color: rgba(255, 255, 255, 0.6);
}
