.li {
  margin: 0.8rem;
}

.li h4 {
  font-family: "Roboto Slab", serif;
  list-style: none;
  cursor: pointer;
  letter-spacing: 1px;
}

.li .arrow {
  transition: margin-left 0.3s ease-in-out;
}

.li:hover .arrow {
  margin-left: 8px;
}
