.heading {
  font-size: 5rem;
  color: rgba(0, 0, 0, 0.7);
  letter-spacing: 5px;
  font-family: "Bree Serif", serif;
}
.heading h2 {
  margin: 2rem 0 1rem 0;
}
.input input {
  margin: 4px;
  padding: 9px;
  background-color: rgba(255, 255, 255, 0.5);
}

.input input:focus,
.input input:hover {
  color: black;
  background-color: rgba(255, 255, 255, 0.9);
}

.fa {
  margin-right: 5px;
}

.button {
  margin-top: 2rem;
  background-color: transparent;
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border: 1px solid #000;
  transition: ease-in 0.2s;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.h3margin button {
  margin-left: 10px;
}
