.Input,
.InputName {
  width: 40px;
  border: 1px dotted rgb(162, 196, 151);
  background-color: rgb(217, 243, 208);
  text-align: center;
  font: inherit;
  padding: unset;
  margin-left: 3px;
}

.InputName {
  width: 120px;
}

.deleteIcon {
  margin-left: 10px;
  cursor: pointer;
}
