.goBackButton {
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border: 1px solid #000;
  transition: ease-in 0.2s;
  margin: 20px 10px;
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}

.starButton {
  background-color: transparent;
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border: 1px solid #000;
  transition: ease-in 0.2s;
  margin: 20px 10px;
  width: 160px;
}

.image {
  border: 1px solid black;
  width: 150px;
}

.tables {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.fruitsBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  width: 60%;
}

li {
  list-style: none;
  padding: 5px;
  margin: 5px;
  border: 1px solid lightgray;
  cursor: pointer;
}

.wikiButton {
  margin-top: 2rem;
  background-color: transparent;
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border: 1px solid #000;
  transition: ease-in 0.2s;
  margin: 0 10px 10px 10px;
  width: 160px;
}

.wikiButton:hover {
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 0.875rem;
  padding: 0.6rem 1.1rem;
}

.wikiLogo {
  margin-right: 5px;
}
